*{
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: #187795;
    color: #fff;
    height: 3rem;
    line-height: 3rem;
    box-shadow: 0px 2px 6px rgb(69, 68, 68); 
    font-size: 30px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5 rem;
    margin-top: 5rem;
    flex-wrap: wrap;

}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    border-radius: 50%;
     margin: 1rem;


}
.choice:hover {
    cursor: pointer;
    background-color: #cdc6ae;
  }
  
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2 rem;
    gap: 5rem;
    margin-top: 3rem;
    flex-wrap: wrap;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #msg {
    background-color: #38686a;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
  p{
    font-size: 2rem;
  }